@import './main.scss';

.breadcrumbs {
    margin-top: size(183px);

    a {
        color: inherit;

        &:last-child {
            opacity: .3;
            cursor: default;
            pointer-events: none;
        }
    }
}

.separator {
    align-items: center;
    padding: 0 5px;

    & svg {
        vertical-align: middle;
    }
}


.news-page {
    @include main-container();
    padding-bottom: size(150px);
    font-size: 18px;


    & h3 {
        font-size: 35px;
        font-weight: 600;
        line-height: 42px;
        text-align: left;
        padding-top: 50px;
        padding-bottom: 55px;
    }

    & h4 {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 30px;
        margin-top: 50px;
    }

    & ul li {
        color: #DCDCDC;
    }

    & p {
        color: #DCDCDC;
        font-weight: 500;
        line-height: 27.41px;
        margin-bottom: 25px;
    }
}

.news {
    @include main-container();
    
    h3 {
        padding-top: 50px;
        padding-bottom: 55px;
        font-size: 35px;
        font-weight: 600;
        line-height: 42px;
        text-align: left;
    }
}

// Pagination
.pagination {
    margin: 68px auto 161px auto;
    max-width: 272px;
    height: 32px;
    a {
        color: white;
    }
    span {
        color: white;
    }
}

.pagination__list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.pagination__item {
    margin-right: 8px;
    display: inline-block;
}

.pagination__item:last-child {
    margin-right: 0;
}

.pagination__arrow,
.pagination__page {
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
}

.pagination__page {
    border: 1px solid #DFE3E8;
    font-weight: 700;
}

.pagination-arrow {
    background-color: #0076E3;
}

.pagination__arrow--disabled {
    opacity: .3;
    pointer-events: none;
}

.pagination__page--dots {
    pointer-events: none;
}

.pagination__page--active {
    border: 1px solid #0076E3;
    color: #0076E3;
}

.pagination .pagination_item,
.page-numbers {
    width: 32px;
    height: 32px;
    padding: 5px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.pagination .pagination_item.active,
.page-numbers.current {
    border: 1px solid #369EFF;
    color: #369EFF;
}

.pagination .pagination_item.noactive {
    background-color: #0076E3;
    opacity: .3;
    cursor: auto;
    pointer-events: none;
}

.pagination .count .pagination_item {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    word-wrap: break-word;
    transition: all 0.3s;
}

.page-numbers {
    border: 1px solid #dfe3e8;
    font-weight: 700;
    line-height: 20px;
    word-wrap: break-word;
    transition: all 0.3s;
}

.page-numbers.active {
    border: 1px solid #0076E3;
    color: #0076E3;
}

.gap-2 {
    gap: 0.5rem;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}


// News cards
.news-cards {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    gap: size(25px);
    padding-bottom: size(150px);
}
.news-card {
    background-color: #081A41;
    border-radius: 15px;
    padding: 15px;
    display: block;
    & > h3 {
        color: white;
        font-size: 17px;
        font-weight: 700;
        line-height: 23px;
        text-align: left;
        padding: 0;
        margin: 25px 0;

    }
    & > img{
        width: 100%;
        object-fit: cover;
    }
    & > p {
        font-size: 13px;
        font-weight: 400;
        line-height: 23px;
        text-align: left;
        color: white;
    }
    & > p.date {
        opacity: .4;
        margin-top: 35px;
    }
}

.catalog {
    @include main-container();
    padding-bottom: size(150px);
    h3 {
        padding-top: 50px;
        padding-bottom: 55px;
        font-size: 35px;
        font-weight: 600;
        line-height: 42px;
        text-align: left;
    }
    .card {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: size(42px);
        .card-item {
            flex: 0 1 30%; /* 33.333% ширины минус отступ */
            width: size(405px);
            height: size(144px);
            border-top-left-radius: size(5px);
            border-top-right-radius: size(30px);
            border-bottom-right-radius: size(5px);
            border-bottom-left-radius: size(5px);
            overflow: hidden;
            background: url(/img/card-offer-product-1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: size(32px);
            margin-right: 10px;
            display: flex;
            align-items: flex-end;
            &:nth-child(2) {
                background: url(/img/card-offer-product-2.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:nth-child(3) {
                background: url(/img/card-offer-product-3.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:nth-child(4) {
                background: url(/img/card-offer-product-4.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:nth-child(5) {
                background: url(/img/card-offer-product-5.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:nth-child(6) {
                background: url(/img/card-offer-product-6.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:nth-child(3n) {
                margin-right: 0; /* Убираем отступ у каждого третьего элемента */
            }
            .btn-link {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: size(24px);
                padding-left: size(24px);
                width: 100%;
                height: size(60px);
                background: rgba(255, 255, 255, 0.9);
                border-top-left-radius: size(5px);
                border-top-right-radius: size(30px);
                border-bottom-right-radius: size(5px);
                border-bottom-left-radius: size(5px);
                span {
                    color: #041d59;
                    font-size: size(18px);
                    font-weight: 500;
                    line-height: size(21.6px);
                    word-wrap: break-word;
                }
            }
        }
    }
}